.audio-container {
  @include position(fixed, 100% 0 null);
  display: flex;
  justify-content: center;
  text-align: center;
}

.audio {
  margin-top: -30px;
  padding: 0 2rem;

  &:hover audio {
    margin-top: 60px;
  }

  audio {
    transition: margin 0.333s $ease-in-out-back;
  }
}
