body {
  -webkit-font-smoothing: antialiased;
  background-color: #1a1a1a;
  color: #fff;
  font-family: $base-font-family;
  height: 200vh;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: $heading-font-family;
  font-weight: 200;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  vertical-align: top;
}

section {
  padding: $base-spacing;
  position: relative;

  &.almost-full-height {
    min-height: 95vh;
  }
}

.title {
  @include position(fixed, -3rem null null (-0.065em));
  color: #673F9A;
  font-family: $heading-font-family;
  font-size: 50vh;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 0.6;
  margin: 0;
  mix-blend-mode: difference;
  white-space: nowrap;
  z-index: -1;

  span {
    display: block;
  }
}

.title-state {
  color: #B82A2A;
  font-size: 25vh;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}
