.button {
  background-blend-mode: overlay;
  color: #fff;
  display: inline-block;
  float: right;
  letter-spacing: 3px;
  padding: 0.5rem 1.5rem;
  text-indent: -1.25em;
  text-transform: uppercase;

  &:hover {
    border-color: transparent;
    background-color: #ea1fff;
  }

  &.buybuybuy {
    background-color: $hot-purple;
    font-size: 3vh;

    &:hover {
      background-color: adjust-hue($hot-purple, 45deg);
    }
  }

  &.speakers-call {
    border: 1px solid #fff;
    font-size: 1.25vh;
    text-indent: -3em;
    float: none;
  }

  &.sponsor-hugs {
    border: 2px solid $sponsors-color;
    color: $sponsors-color;
    font-size: 1.5vh;
    text-align: center;
    width: 120%;
  }

  &.see-schedule {
    border: 1px solid #fff;
    font-size: 1.5vh;
  }
}
