.logo {
  @include position(fixed, 5vh 5vh null null);
  @include size(20vh);
  mix-blend-mode: screen;
  z-index: 100;

  img {
    @include position(absolute, 0 0 0 0);
    @include size(90%);
    object-fit: contain;
  }
}

.circle {
  @include position(fixed, 5vh 5vh null null);
  @include size(20vh);
  background-color: #ff52e6;
  border-radius: 50%;
  mix-blend-mode: overlay;
  z-index: 99;
}
