.prose { 
  background-size: cover; 
  box-shadow: 0 0 10vh rgba(#000, 0.2);
  color: #fff;

  p {
    margin: 3vh 0;
    font-size: 1.23em;
    font-weight: 300;
    line-height: 1.5;

    @include media(min-height 900px) {
      font-size: 2vh;
    }
  }
}

.prose-title {
  font-size: 6vh;
  line-height: 1;
  letter-spacing: 10px;

  &.venue-title {
    margin-bottom: -1.25rem;
    margin-top: -1.8em;
  }

  .why-austin-wrapper & {
    margin-bottom: 0;

    @include media(600px) {
      letter-spacing: 52px;
    }
  }
}

.prose-venue-content {
  background-color: rgba(#4a90e2, 0.6);
  display: inline-block;
  max-width: 60em;
  margin-left: -1.5em;

  @include media(600px) {
    margin-left: -$base-spacing;
  }
}

.prose-austin-content {
  background-color: rgba(red, 0.6);
  padding: 0.5em 2em;
}

#venue {
  background-color: #d1eacf;
  background-image: image-url("ritz.png");
}

#why-austin {
  background-color: #ffa6c9;
  background-image: image-url("franklins.png");
}

.why-austin-wrapper {
  @include margin(null auto);
  max-width: 60em;
}
