.wrapper {
  margin: 0 auto;
  max-width: 800px;
}

.speakers {
  max-width: 1480px;

  h2 {
    background-color: #ea20fe;
    display: inline-block;
    letter-spacing: 5px;
    margin-left: -10rem;
    padding: 10px 5rem 5px 10rem;
  }

  .more-to-come {
    font-size: 3vh;
    margin: 0;
    letter-spacing: 4px;
  }
}

.speakers-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 3rem;
}

.speaker {
  @include clearfix;
}

.speaker-image {
  max-width: 400px;
  float: left;
}

.speaker-about {
  color: white;
  float: left;
  text-decoration: none;
  text-indent: -4vh;

  h4 {
    font-size: 3vh;
    line-height: 0.8;
    margin: 0 0 -0.5em;
    text-indent: 1em;
    opacity: 0.6;
    text-transform: lowercase;
  }

  h3 {
    font-size: 6vh;
    font-weight: bold;
    margin: 0;
  }

  p {
    color: rgba(white, 0.3);
    max-width: 400px;
    padding-left: 1vh;
    text-indent: 0;
  }
}

.speak-at-krw {
  clear: both;

  @include media(1200px) {
    margin-left: 12em;
    margin-top: 6em;
  }

  p {
    font-size: 1.4em;
    max-width: 800px;
  }
}

.more-speakers-list {
  list-style-type: none;
  max-width: 100%;
  overflow: hidden;

  li {

    @include media (920px) {
      float: left;
      margin-bottom: 3em;
      margin-right: 3em;

      &:nth-of-type(2n+2) {
        margin-right: 0;
      }

      &:nth-of-type(3) {
        margin-left: 5em;
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.more-speaker-image {
  float: left;
  max-width: 200px;
}

.more-speaker-about {
  mix-blend-mode: difference;
  clear: both;
  float: none;

  @include media(920px) {
    clear: none;
    float: left;
  }


  h3 {
    font-size: 4vh;
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
  }
}
