.speakers {
  margin: 0 auto;
  max-width: 800px;

  h2 {
    background-color: #ea20fe;
    display: inline-block;
    letter-spacing: 5px;
    margin-left: -10rem;
    padding: 10px 5rem 5px 10rem;
  }

  .break {
    display: inline-block;
    margin-left: 3rem;
  }
}
