.wrapper {
  margin: 0 auto;
  max-width: 800px;
}

.speakers {
  max-width: 1480px;

  h2 {
    background-color: #ea20fe;
    display: inline-block;
    letter-spacing: 5px;
    margin-left: -10rem;
    padding: 10px 5rem 5px 10rem;
  }

  .more-to-come {
    font-size: 3vh;
    margin: 0;
    letter-spacing: 4px;
  }
}

.speakers-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 3rem;
}

.speaker {
  @include clearfix;
}

.speaker-image {
  max-width: 50%;
  float: left;
}

.speaker-about {
  color: white;
  float: left;
  max-width: 50%;
  text-indent: -4vh;

  h4 {
    font-size: 3vh;
    line-height: 0.8;
    margin: 0 0 -0.5em;
    text-indent: 1em;
    opacity: 0.6;
    text-transform: lowercase;
  }

  h3 {
    font-size: 6vh;
    font-weight: bold;
    margin: 0;
  }

  p {
    color: rgba(white, 0.3);
    max-width: 400px;
    padding-left: 1vh;
    text-indent: 0;
  }
}

.speak-at-krw {
  clear: both;
  margin-left: 21.5em;
  padding-top: 2rem;

  p {
    font-size: 1.4em;
  }
}
