.box {
  @include margin(null auto);
  @include size(100vh);
  background-color: #fff;
  position: relative;
}

.corgi,
.mosque {
  @include position(absolute, 0);
  background-size: cover;
  margin: 1.5vh;
  mix-blend-mode: multiply;
}

.corgi {
  background-image: image-url("corgi.png");
}

.mosque {
  background-image: image-url("mosque.png");
  pointer-events: none;
}

pre {
  @include position(absolute, 0);
  color: #99ff99;
  font-size: 4vh;
  letter-spacing: 0.6em;
  line-height: 1.18em;
  margin: auto;
  padding: 3vh;
}
