$base-spacing: 5vh;

$base-font-family: "source-code-pro", monospace;
$heading-font-family: "americane-condensed", "pragmatica-web-condensed", "futura-pt-condensed", Helvetica, Arial, sans-serif;

// Colors
$hot-pink: #ff00da;
$hot-green: #5ed536;
$hot-purple: #d800ff;

$sponsors-color: $hot-green;
