---
---

.glitch#bg
  = image_tag "images/turtles.jpg"

%h1.title
  %span KEEP
  %span RUBY
  %span WEIRD

- content_for :javascript do
  :javascript
    var imgPath = "images/turtles.jpg";
    var imgContainer = document.getElementById("bg");

    glitchIt = function() {
      var params = {
        amount:     randomInteger(1, 99),
        iterations: randomInteger(10, 30),
        quality:    randomInteger(1, 99),
        seed:       randomInteger(1, 99)
      };

      glitchImage(params);
    }

    $(window).scroll($.throttle(glitchIt, 83, null, true));

    glitchIt();
