---
---

.box
  .corgi
  pre
    | MW7r9kTkshanaxdImOIk
      BkijlQsfLbZPLOgzjmvR
      mIqXmYb4NpQExzkHS1Wz
      JGq9RxL2xNukKHp0uivr
      ePKzk8K6MY28BfkQK7JR
      eQbWZuMXHp1o2UpvqWcN
      oxgfTFlKZsiCmUDWDJsJ
      tmnmAE42zw80rhMi7IuR
      yk3rdvQSWwDDhUdHDjcU
      SGXJE3gq6rUNBhhqoqFA
      bEwRGYu5fjPHKAUszQ2J
      zjTOUn94aRaWCXTyG0iN
      YobQ7zoMA57td1j04Tya
      csGdhjRTm2s7r9QHXCSu
      AuR7P9E2GMPSrIRQns4j
      iBYGq8oBP1Tcw9e7VtUs
      XfhWIUbqd2Yr74EOri8C
      p7c3Cjoz7cD72WARHUph
      qRJmB7jrXu5UkGcNO7PB
      WsYqkQQH31a5ZIZTA2NF
  .mosque
  .decoder
